<header></header>


<div class="container">

  <div class="row">
  	
  	<div class="col"><h1>Sebastian Rios</h1>
	Soy apasionado por la percusion y trabajo en orquestas de salsa, musica clasica y rock. 
	Estoy viviendo en Argentina rodeado de un ambiente totalmente musical. Empece a trabajar como luthier 
	desde hace unos anios debido a que tambien me gusta la carpinteria por que vengo de una familia de 
	tradicion de ebanistas y artistas.
	</div>
	<div class="col"> <%= image_tag("maraquero.jpg") %></div>

  </div>

</div>
