


<header class="cover"></header>

<body>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dd64ocL1M2E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</body>
<footer>


<nav>
     <a href="https://www.instagram.com/sebastianriosdr/"><%= image_tag("instagram.png") %></a>
     <a href="https://www.facebook.com/drumandsebass"><%= image_tag("facebook.png") %></a>
     <a href="https://www.facebook.com/drumandsebass"><%= image_tag("twitter.png") %></a>
      
    </nav>

</footer>